a {
    text-decoration: none;
  }
  
  h2 {
    margin: 0;
    font-size: 1rem;
  }
  
  ul {
    margin: 0;
    padding: 0 0 0 1.5rem;
  }
  
  li {
    margin: 1.5rem 0;
    padding: 0;
  }
  
  b {
    /* used for event dates/times */
    margin-right: 3px;
  }
  
  .demo-app {
    display: flex;
    min-height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 0.8750rem;
  }
  
  .demo-app-sidebar {
    width: 300px;
    line-height: 1.5;
    background: #fff;
    border-right: 1px solid #d3e2e8;
    height: 140vh;
    padding: 1.4rem 1.9rem;
    box-shadow: 0px 0px 40px 0px #00000026;
  }
  
  .demo-app-sidebar-section {
    padding: 2em;
  }
  
  .demo-app-main {
    flex-grow: 1;
    padding: 2rem;
    /* top: -3px; */
    margin-top: -1.6rem;
  }
  